cupy_cuda13x==14.1.1
matplotlib>=3.10.8
numpy>=2.4.4
opencv_contrib_python==4.13.0.92
opencv_python_headless==4.13.0.92
pandas>=3.0.2
PyQt6==6.11.0
pyqt6_sip==13.11.1
scipy>=1.18.0
scikit-image==0.26.0
tifffile==2026.4.11
imagecodecs==2026.5.10